**/vendor/
**/.env
**/.env.*
!**/.env.example
**/.dart_tool/
**/build/
**/.flutter-plugins*
**/local.properties
**/key.properties
**/*.jks
**/*.keystore
**/database/*.sqlite
**/storage/logs/*.log
**/bootstrap/cache/*.php
**/.phpunit.result.cache
.idea/
.DS_Store
**/node_modules/
**/.next/
**/*.tsbuildinfo
supabase/.temp/
supabase/.branches/
